services:
  firebase-emulator:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ckl-banking-emulator
    volumes:
      - ./functions:/app/functions
      - ./firebase.json:/app/firebase.json
      - firebase-cache:/root/.cache/firebase
      - emulator-data:/app/emulator-data
    ports:
      - "4000:4000"  # UI Dashboard
      - "5001:5001"  # Functions
      - "8080:8080"  # Firestore
      - "9099:9099"  # Auth (nếu cần)
    environment:
      - NODE_ENV=development
      - GMAIL_USER=${GMAIL_USER:-ledoananhhao2020@gmail.com}
      - GMAIL_PASS=${GMAIL_PASS:-hunulevwqyvwafpo}
      - VNPAY_TMN_CODE=${VNPAY_TMN_CODE:-NPDDX09V}
      - VNPAY_SECRET_KEY=${VNPAY_SECRET_KEY:-9AYFWXJQX0IZIL034I9IUPEWV54UA36B}
      - VNPAY_URL=${VNPAY_URL:-https://sandbox.vnpayment.vn/paymentv2/vpcpay.html}
      - VNPAY_RETURN_URL=${VNPAY_RETURN_URL:-http://localhost:5001/vnpay-return}
    networks:
      - ckl-banking-network

volumes:
  firebase-cache:
  emulator-data:

networks:
  ckl-banking-network:
    driver: bridge

